@import url(colors.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
body {
  background-image: url(/img/drummer.jpg);
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-rows: 6rem 1fr 2rem;
  font-family: sans-serif;
  min-height: 100vh;
  /* height: calc(var(--vh, 1vh) * 100); */
}

/* HEADER */
body > header {
  text-align: center;
  padding: 0.5rem 0;
}
body > header > h1 {
  color: var(--main-color);
  font-family: "Oleo Script Swash Caps";
  font-size: 3rem;
}

/* SECTION */
body > main > article > p {
  color: var(--light-color);
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
}
body > main > article {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 2.5rem;
}
body > main > article > section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.3rem;
}

/* BUTTONS */
button > * {
  pointer-events: none;
}

/* BUTTONS - DRUM */
.btn-drum {
  color: var(--light-color);
  background-color: var(--dark-color);
  border: thin solid var(--main-color);
  border-radius: 50%;
  width: 5.5rem;
  height: 5.5rem;
  padding: 0.5rem;
  text-transform: uppercase;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.btn-drum span {
  color: var(--main-color);
  font-size: 2.3rem;
  font-weight: 600;
}

/* BUTTONS - RECORD */
.btn-record {
  border: thin solid var(--main-color);
  background-color: var(--dark-color);
  color: var(--light-color);
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
}

/* FOOTER */
body > footer {
  text-align: center;
  color: var(--light-color);
  border-top: thin solid var(--main-color);
  font-size: 0.9rem;
  padding: 0.5rem;
}

@media (min-width: 600px) {
  /* BODY */
  body {
    display: grid;
    grid-template-rows: 8rem 1fr 2rem;
    font-family: sans-serif;
    padding: 0.5rem;
  }
  body > header h1 {
    font-size: 4rem;
  }

  /* SECTION */
  body > main > section {
    gap: 5rem;
    font-size: 1.3rem;
  }
  .btn-record {
    padding: 1rem 2.5rem;
    font-size: 1rem;
  }
}
